@import '~antd/dist/antd.css';

.App .content {
    max-width: 1140px;
    margin: 40px auto;
}

.App .content .ant-card,
.App .content .search-box {
    margin: 10px;
}

.ant-timeline-item-last {
    padding-bottom: 0;
}